extends layout

block content
  h1 #{category.name}

  p #[strong Description:] #{category.description}
  
  hr
  p
    a(href=category.url+'/delete') Delete Category
  p
    a(href=category.url+'/update') Update Category
