extends layout

block content
  h1 #{collection.name}
  p Do you really want to delete this collection? Deleting this collection will not delete the items in it.
  
  
  form(method='POST' action='')
    div.form-group  
      input#collectionid.form-control(type='hidden', name='collectionid', required='true', value=collection._id)

      button.btn.btn-primary(type='submit') Delete